.InputGroup {
	flex: 1 33% 45%;
	min-height: var(--quad);
	margin: var(--double);
	max-width: 48%;
	font-size: var(--font-form-input);
}

.Disabled {
	font-family: var(--font-main-italic);
	color: var(--grey-dark);
}

.InputGroup__InputElement.Disabled {
	width: 100%;
	border: 1px solid var(--grey);
	border-radius: var(--border-radius);
	background-color: var(--white);
	font: var(--font-main);
	padding: var(--single) var(--double);
	margin-top: var(--double);
}

.InputGroup__LabelGroup {
	width: 100%;
}

.InputGroup__Label {
	display: block;
	font-family: var(--font-bold);
}

.InputGroup__Hint {
	display: block;
	font-family: var(--font-main-italic);
}

/* TODO: Maybe colorize the border? */
.InputGroup__InputElement {
	width: 100%;
	border: 1px solid var(--black);
	border-radius: var(--border-radius);
	background-color: var(--white);
	font: var(--font-main);
	padding: var(--single) var(--double);
	margin-top: var(--double);
	transition: box-shadow 0.1s ease-in;
}

.InputGroup__InputElement:focus {
	outline: 1px solid var(--equinor-main);
	border: 1px solid var(--equinor-main);
	border-radius: var(--border-radius);
	box-shadow: 0 0 1pt 2pt var(--equinor-main);
}

/* TODO: Add in validation styling */

.InputGroup__Optional {
	font-family: var(--font-main);
}
