.NewExperience {
	height: inherit;
	width: inherit;
	display: flex;
	flex-direction: column;
}

.NewExperience__Title {
	display: flex;
	align-items: center;
}

.NewExperience__Title img {
	height: var(--base);
	margin-right: var(--single);
}

.NewExperience__Subtitle * {
	/* font-size: var(--font-reg); */
}

.SelectedDiscipline {
	/* font-size: var(--font-label); */
}

.SelectedDiscipline__Label {
	font-family: var(--font--main);
}

.SelectedDiscipline__Discipline {
	font-family: var(--font-bold-italic);
	color: var(--equinor-supporting-green);
}

.NewExperience__Filters {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: var(--double);
}

.NewExperience__FormSection {
	width: 100%;
	flex: 1;
}
