.NewExperience {
	height: inherit;
	width: inherit;
	display: flex;
	flex-direction: column;
}

.NewExperience__Title {
	display: flex;
	align-items: center;
}

.NewExperience__Title img {
	height: var(--base);
	margin-left: var(--single);
	position: absolute;
}

.NewExperience__Title h1 {
	margin-left: var(--triple);
	padding-bottom: var(--double);
}

.NewExperience__Subtitle * {
	/* font-size: var(--font-reg); */
}

.SelectedDiscipline {
	/* font-size: var(--font-label); */
}

.SelectedDiscipline__Label {
	font-family: var(--font--main);
}

.SelectedDiscipline__Discipline {
	font-family: var(--font-bold-italic);
	color: var(--equinor-supporting-green);
}

.NewExperience__SelectDiscipline {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.NewExperience__Filters {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: var(--double);
}

.NewExperience__OtherEntries {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--grey);
	border-radius: var(--border-radius);
	color: var(--grey-dark);
	font-family: var(--font-heading-italic);
	padding: var(--base);
	margin: var(--double) 0;
}

.NewExperience__FormSection {
	width: 100%;
	flex: 1;
}
