.Form {
	height: inherit;
	width: inherit;
	display: flex;
	flex-direction: column;
	background-color: var(--grey);
	box-shadow: var(--boxshadow);
	border: 1px solid var(--grey);
	border-radius: var(--border-radius);
	padding: var(--base) var(--triple);
}

.Form__FormControls__Observations {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.Observations__CopyBtnSection,
.Observations__Placeholder {
	max-width: 48%;
	flex: 1 1 45%;
	display: flex;
	justify-content: flex-end;
	margin: 0 var(--double);
}

.Observations__CopyBtnSection__Button {
}

.Form__FormControls__SupportingDocs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.Form__FormControls__SupportingDocs > * {
	max-width: 30%;
}

.Form__ActionButtons {
}
