.Navigation {
	height: calc(var(--quad) * 4);
	width: 100%;
	display: flex;
	justify-content: space-between;
	border: 1px solid var(--grey);
	padding: 0 var(--triple);
}

.Navigation__LogoSection {
	flex: 1;
	max-width: 150px;
}

.Navigation__LogoSection a,
.Navigation__LogoSection img {
	height: 100%;
	max-width: auto;
	padding: 0;
	margin: 0;
}

.Navigation__NavigationItems {
	flex: 3;
	display: flex;
	justify-content: flex-end;
}
