.Home {
	height: inherit;
	width: inherit;
	display: flex;
	flex-direction: column;
}

.Home__Title h1 {
}

.Home__Subtitle {
}

.Home__Subtitle h2 {
	font-size: var(--font-reg);
}

.Home__Pointer {
	width: inherit;
	height: var(--quad);
	display: flex;
	position: absolute;
	left: 26%;
}

.Home__Buttons {
	padding: var(--title-space);
	text-align: center;
}

.Home__Buttons p {
	font-family: var(--font-bold);
	font-size: var(--font-label);
}

.Home__Buttons ul {
	display: flex;
	justify-content: center;
}

.Home__Button {
	margin: var(--base);
}

.Home__InfoSection {
	border-radius: var(--border-radius);
	background-color: var(--equinor-supporting-blue-light);
	padding: var(--title-space);
	margin: 0 25%;
}

.Home__InfoSection h3 {
	font-size: var(--font-label);
	font-family: var(--font-bold);
	color: var(--equinor-supporting-blue);
}

.Home__InfoSection p {
	margin: var(--double) 0;
	color: var(--equinor-main);
}
