.NoMatch {
	height: inherit;
	width: inherit;
}

.NoMatch__TitleSection {
	flex: 1;
	padding: var(--base);
}

.NoMatch__Title {
	font-family: var(--font-bold);
	margin: var(--title-space) var(--base);
}

.NoMatch__Subtitle {
	margin: var(--title-space) var(--base);
}

.NoMatch__Instructions {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--equinor-supporting-blue);
	padding: var(--base) 0;
}

.NoMatch__Instructions p {
	color: var(--pink);
	margin: var(--base);
}

.NoMatch__Instructions a {
	font-family: var(--font-bold);
	color: var(--pink);
}

.NoMatch__Instructions a:hover {
	color: var(--equinor-main);
}

.NoMatch__Pointer {
	align-self: flex-start;
}

.NoMatch__Pointer img {
	height: var(--title-space);
}
