.NavigationItems {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
}

.NavigationItems__NavItem {
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
	white-space: nowrap;
	padding: 0 var(--triple);
	font-size: var(--font-reg);
}

.NavigationItems__NavItem:hover {
	color: var(--equinor-main);
}

.Active {
	color: var(--equinor-main) !important;
}
