/* global styles */
@font-face {
	font-family: 'Equinor-Main';
	src: url(./_assets/fonts/Equinor-Regular.woff2) format('woff2'); /* Modern Browsers */
}

@font-face {
	font-family: 'Equinor-Main-Italic';
	src: url(./_assets/fonts/Equinor-Italic.woff2) format('woff2'); /* Modern Browsers */
}

@font-face {
	font-family: 'Equinor-Heading';
	src: url(./_assets/fonts/Equinor-Medium.woff2) format('woff2'); /* Modern Browsers */
}

@font-face {
	font-family: 'Equinor-Heading-Italic';
	src: url(./_assets/fonts/Equinor-MediumItalic.woff2) format('woff2'); /* Modern Browsers */
}

@font-face {
	font-family: 'Equinor-Bold';
	src: url(./_assets/fonts/Equinor-Bold.woff2) format('woff2'); /* Modern Browsers */
}

@font-face {
	font-family: 'Equinor-Bold-Italic';
	src: url(./_assets/fonts/Equinor-BoldItalic.woff2) format('woff2'); /* Modern Browsers */
}
/* Add the following to get alternate character styles */
/* -webkit-font-feature-settings: 'ss01';
font-feature-settings: 'ss01'; */

:root {
	--font-main: 'Equinor-Main', sans-serif;
	--font-main-italic: 'Equinor-Main-Italic', sans-serif;
	--font-heading: 'Equinor-Heading', sans-serif;
	--font-heading-italic: 'Equinor-Heading-Italic', sans-serif;
	--font-bold: 'Equinor-Bold', sans-serif;
	--font-bold-italic: 'Equinor-Bold-Italic', sans-serif;
	--font-weight: 400;
	--font-weight-heading: 500;
	--font-weight-bold: 700;
	--font-min: 16px;
	--font-reg: 18px;
	--font-subtitle: 30px;
	--font-title: 50px;
	--letter-spacing: -0.25px;
	--line-height: 1.3;
	--border-radius: 3px;
	--hover-lighten: 0.1;
	/* *Spacing for lines, padding, margins */
	--unit: 5;
	--single: calc(var(--unit) * 1px);
	--double: calc(var(--unit) * 2px);
	--triple: calc(var(--unit) * 3px);
	--quad: calc(var(--unit) * 4px);
	/* *Color values are numbers only, this provides flexibility for opacity
	* Fx: --equinor-main-faded: rgba(var(--equinor-main), .5)); */
	--energy-red: 255, 18, 67;
	--slate-blue: 36, 55, 70;
	--slate-blue-darken: 26, 40, 51;
	--heritage-red: 125, 0, 35;
	--moss-green: 0, 112, 121;
	--moss-green-darken: 0, 84, 91;
	--mist-blue: 213, 234, 244;
	--spruce-wood: 255, 231, 214;
	--lichen-green: 230, 250, 236;
	--white: rgba(255, 255, 255);
	--black: rgba(51, 51, 51);
	--grey: rgba(242, 242, 242);
	--grey-dark: rgba(102, 102, 102);
	--error: rgba(var(--heritage-red));
	--error-hover: rgba(89, 0, 25);
	--equinor-main: rgba(var(--energy-red));
	--equinor-main-hover: rgba(var(--energy-red), var(--hover-lighten));
	--equinor-supporting-blue: rgba(var(--slate-blue));
	--equinor-supporting-blue-hover: rgba(var(--slate-blue-darken));
	--equinor-supporting-blue-light: rgba(var(--mist-blue));
	--equinor-supporting-green: rgba(var(--moss-green));
	--equinor-supporting-green-hover: rgba(var(--moss-green-darken));
	--equinor-supporting-green-light: rgba(var(--lichen-green));
	--equinor-supporting-highlight: rgba(var(--spruce-wood));
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr,
canvas {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--black);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
	font-weight: var(--font-weight-heading);
	font-size: var(--font-title);
	letter-spacing: var(--letter-spacing);
	line-height: var(--line-height);
	margin-bottom: var(--quad);
}

h1.italic,
h2.italic,
h3.italic,
h4.italic,
h5.italic,
h6.italic {
	font-family: var(--font-heading-italic);
}

p {
	font-family: var(--font-main);
	font-weight: var(--font-weight);
	font-size: var(--font-reg);
	line-height: var(--line-height);
	letter-spacing: 0;
}

.italic {
	font-family: var(--font-main-italic);
}

.bold {
	font-family: var(--font-bold);
}

.bold.italic {
	font-family: var(--font-bold-italic);
}

ul {
	list-style: none;
}

a,
a:visited {
	font-family: var(--font-heading);
	font-weight: var(--font-weight);
	font-size: var(--font-min);
	text-transform: capitalize;
	text-decoration: none;
	color: var(--black);
	padding: var(--double) 0px;
	display: inline-block;
	cursor: pointer;
}

a:hover {
	color: var(--grey-dark);
}

input,
textarea,
select,
button {
	color: inherit;
	font: var(--font-heading);
	border: 1px solid var(--grey);
}

button {
	cursor: pointer;
	padding: 0.5em 2em;
	background-color: transparent;
	font-family: var(--font-bold);
	letter-spacing: 0.1em;
	border-radius: var(--border-radius);
}

embed,
iframe,
img,
object,
video,
canvas {
	display: block;
	max-width: 100%;
}

table {
	table-layout: fixed;
	width: 100%;
}

[hidden] {
	display: none !important;
}

noscript {
	display: block;
	margin-bottom: 1em;
	margin-top: 1em;
}
